html{
  font-size: 62.5%;
  box-sizing: border-box;
}
body{
  margin:0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: 'Nunito', sans-serif;
  background-color: rgb(247.5, 247.5, 247.5);
}

#root{
  height: 100%;
}


.grid-container{
  display: grid;
  grid-template-areas:
  'header'
  'main'
  'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 8rem 1fr 5rem;
  height: 100%;
  width: 100%;
  margin-left: 0px;
}

.brand{
  text-decoration: none;
  color: #ffffff;
  font-size: 4rem;
  letter-spacing: 1.5px;
  font-weight: bold;
  padding-left: 3mm;
}

.badge{
  color: #696969;
  background-color: #ffffff;
  border-radius: 100%;
  padding: 0.2rem 0.7rem;
  font-size: 1.3rem;
  margin-left: 0.2rem;
}

li{
    display: inline-block;
    
}

li a{
    text-decoration: none;
    display:inline-block;
    color: black;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    letter-spacing: 1.5px;
    padding: 20px;
    font-weight: bolder;
}

.ola::after {
    content: '';
    display: block;
    width: 0;
    height: 1.6px;
    background: #fff;
    transition: width .3s;
    
}

.ola:hover::after {
    width:100%;
    transition: width .3s;
}


header
{
  grid-area: header;
  background-color: #3ca7e0;
  font-family: 'Nunito', sans-serif;
  padding-left: 3rem;
  padding-right: 3rem;
}

main{
  grid-area: main;
  padding: 0rem;
  max-width: 100%;
}
footer{
  grid-area: footer;
  background-color: #3ca7e0;
  color: floralwhite;
}

button{
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem ;
  font-size: 1.6rem;
  font-family: 'Nunito Sans', sans-serif;
  background-color: #f8f8f8;
  cursor: pointer;
}
button:hover{
  transform: scale(1.01);
  box-shadow: 1px 1px 3px #afaeae;
}
button.primary{
  background-color:#f0c040;
  color: white;
  width: 100%;
  margin-right: 30%;
  
}
button.small2 {
  font-size: 15px;
  background-color:#f0c040;
  color: white;
  margin: 0px;
}
button.small1 {
  font-size: 15px;
  background-color:#f0c040;
  color: white;

}

img{
  border-radius: 0rem;
  width: 200px;
  height: 140px;
}
img.small{
  width: 100%;
  height: 100%;
}
img.medium{
  width: 100%;
  height: 100%;
}
img.large{
  width: 100%;
  height: 100%;
}


.card1{
  display: grid;
  grid-template-columns: 270px;
  grid-template-rows: 80px 80px 80px;
  grid-template-areas: 
  'image' 
  'text'
  'stats';

  font-family: reboto;
  border-radius: 18px;
  background: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0.1px 0.1px 15px #dfdfdf;

  margin: 30px ;
}
.card{
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: 140px 70px 70px;
  grid-template-areas: 
  'image' 
  'text'
  'stats';

  font-family: reboto;
  border-radius: 18px;
  background: white;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  box-shadow: 0.1px 0.1px 15px #dfdfdf;
  transition: 0.1s ease;
  cursor: pointer;

  margin: 1rem ;
}
.card-text{
  grid-area: text;
  margin: 19px;
}
.card-text .date{
  color:  grey;
  font-size: 15px;
}
/*.card-text p{
  color: grey;
  font-size: 15px;
  font-weight: 300;
}*/
.card-text h2{
  margin-top: 0px;
  font-size: 14px;
}
.card-stats{
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background:  #0075B5;
}
.card-stats .stat{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: white;
}
.card-stats .link{
  color: #ffff;
  text-decoration: none;
  padding: 5px;
  font-size: 14px;
}
.card-stats .link::after{
  content: '';
  display: block;
  width: 0;
  height: 1.6px;
  background: #fff;
  transition: width .3s; 
}
.card-stats .link:hover:after{
  width:100%;
  transition: width .3s; 
}
.card-stats .type{
  font-size: 9px;
  font-weight: 300;
  color: rgb(255, 255, 255);
}
.card-stats .value{
  font-size: 14px;
  font-weight: 500;
  color: white;
}
.card:hover{
  transform: scale(1.01);
  box-shadow: 5px 5px 15px #afaeae;
}

/*Alert*/
.loading{
  display: block ! important;
}
.success{
  color: #20a020;
}
.danger{
  color: #a02020;
}
.alert{
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info{
  color: #2020a0;
  background-color: #e0e0ff;
  margin-left: 25%;
  width: 50%;
  margin-top: 20px;
  justify-content: center;
}
.alert-danger{
  color: #a02020;
  background-color: #ffe0e0e0;
}
.alert-success{
  color: #20a020;
  background-color: #d1ffcce0;
}


/* Form */
.form{
  max-width: 60rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label{
  margin: 1rem 0;
  display: block; 
}

/* Search Internships Search Screen*/
.search button {
  border-radius: 5px;
  border-right: none;
  margin: 50px;
  padding-top: 7px;
  width: 52px;
  height: 34px;
  background-color: rgb(255, 255, 255);
  outline: none;
}
.search input {
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: none;
  margin-left: 50px;
  width: 80px;
  height: 36px;
}

@media screen and (max-width: 550px) {
  .search button {
    border-radius: 5px;
    border-right: none;
    margin-left: 95%;
    margin-top: 13px;
    padding-top: 7px;
    width: 52px;
    height: 34px;
    background-color: rgb(255, 255, 255);
    outline: none;
  }

  .center.search{
    width: 80%;
    height: 60px;
  }
}
 
/*Search Internships/Users List Institution/Admin*/
.search1 button {
  border-radius: 0 0.5rem 0.5rem 0;
  border-right: none;
  margin: 0px;
  width: 80px;
  height: 42px;
  background-color: #696969;
  outline: none;
}
.search1 input {
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: none;
  margin-left: 50px;
  width: 150px;
  height: 42px;
  outline: none;
}

.col_12 h1{
  padding-top: 10px;
}

.col_12 {
  width: 85%;
  border-radius: 0px;
  justify-content:  center;
  padding-left: 0%;
  margin-top: -4px;
  margin-left: 7.5%;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.row123{
  background-color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  padding-left: 0px;
  padding-bottom: 0px;
  margin-bottom: 35px;
  border-radius: 10px;
}

/*Search Internships Search Screen*/
.search2 button {
  border-radius: 0px;
  border-right: none;
  width: 70px;
  height: 40px;
  margin-left: 0px;
  background-color: rgb(255, 255, 255);
  outline: none;
  border-bottom:3px solid #333;
}

.search2 button:hover{
  background-color: rgba(0,0,0,0.2);
}

.search2 input {
  border:none;
  border-bottom:3px solid #333;
  height:40px;
  width: 130px;
  margin-right:auto;
  font-size:12px;
  display:inline-block;
  padding:0px;
  -webkit-appearance: none;
  transition:cubic-bezier(.34,.43,0,1.02) 0.5s;
  font-weight: lighter;
  padding-left:5px;
  color:rgb(0, 0, 0);
  background:transparent;
}

/*Search Box 3 User*/
button.small10 {
  font-size: 15px;
  background-color:rgb(247.5, 247.5, 247.5);
  color: #085078;
  border: 2px solid #085078;
  margin-bottom: 0px;
  margin-left: 70%;
  border-radius: 10px;
}

button.small10:hover{
  background-color: rgb(240, 240, 240);
}

.col_12 h1{
  padding-top: 10px;
}

.search3 button {
  border-radius: 0px;
  border-right: none;
  width: 70px;
  height: 40px;
  margin-left: 0px;
  background-color: rgb(255, 255, 255);
  outline: none;
  border-bottom:3px solid #333;
}

.search3 button:hover{
  background-color: rgba(0,0,0,0.2);
}

.search3 input {
  border:none;
  border-bottom:3px solid #333;
  height:40px;
  margin-right:auto;
  font-size:12px;
  display:inline-block;
  padding:0px;
  -webkit-appearance: none;
  transition:cubic-bezier(.34,.43,0,1.02) 0.5s;
  font-weight: lighter;
  padding-left:5px;
  color:rgb(0, 0, 0);
  background:transparent;
}

.fa-search{
  color: #333;
}

.row12345{
  margin-bottom: 25px; 
  margin-top: 25px; 
  margin-left: 0px;
  width: 100%;
  display: flex;
}

.search3{
  width:160px;
  margin-top:0px;
  margin-left:0%;
  margin-right:0%;
}


input:focus{
  outline:none;
  background: rgba(0,0,0,0.2);
  }


@media screen and (max-width: 1300px) {
  button.small10 {
    margin-left: 60%;
  }
}

@media screen and (max-width: 1000px) {
  button.small10 {
    margin-left: 50%;
  }
}

@media screen and (max-width: 800px) {
  button.small10 {
    margin-left: 35%;
  }
}

@media screen and (max-width: 600px) {
  .row123{
    display: grid;
  }

  button.small10 {
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .search3 button {
    width: 70px;
    height: 40px;
    margin-left: 0px;
  }

  .search3 input {
    width: 120px;
  }
}

.fa-search{
  color: #333;
}

.row1234{
  margin-bottom: 25px; 
  margin-top: 25px; 
  margin-left: -70px;
  width: 100%;
  display: flex;
}

.search2{
  width:160px;
  margin-top:0px;
  margin-left:6%;
  margin-right:0%;
}


input:focus{
  outline:none;
  background: rgba(0,0,0,0.2);
  }
  
/*_Numeros em baixo das páginas"Pagination__*/

.pagination a {
  height: 20px;
  width: 20px;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  margin: 0.5rem;
  border-radius: 2rem;
  background-color: #cccccc;
  color: rgb(0, 0, 0);
  font-size: 1.6rem;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pagination a:hover{
  background-color: rgb(163, 163, 163);
  transform: scale(1.05);
}

.pagination a.active{
  font-weight: bold;
}

.row.center.pagination{
  margin-bottom: -40px;
  padding-bottom: 0;
  margin-top: 100px; 
  width: 100%;
  margin-left: 0%;
  box-shadow: none;
}

/*******************************************TABLE************************/
.limiter {
  width: 100%;
  margin: 0 auto;
}

button.small {
  font-size: 15px;
  background-color:rgb(247.5, 247.5, 247.5);
  color: #085078;
  margin-bottom: 0px;
  margin-left: 0%;
  margin-right: 5%;
  border: 2px solid #085078;
  border-radius: 10px;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 85%;
  margin: 0 auto;
  position: relative;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #4f9fac; 
}
table tbody tr {
  height: 60px;
}
table tbody tr:last-child {
  border: 0px;
}
table td, table th {
  text-align: center;
}
table td.l, table th.l {
  text-align: center;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}


.table100-head th{
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  color: #ffffff;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:nth-child(even) {
  background-color: #ffffff;
}

tbody tr {
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  color: #000000;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:hover {
  color: #555555;
  background-color: #f5f5f5;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  table {
    display: block;
  }
  table > *, table tr, table td, table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 37px 0;
    justify-content: center;
  }
  table tbody tr td {
    padding-left: 10% !important;
    padding-right: 10%;
    justify-content: center;
    margin-bottom: 24px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
    left: 15px;
  }
}
/********************************Search Screen Select Filter**************************************/
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: none;
  box-shadow: none;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-color: black;
  background: #ffffff;
  background-image: none;
  font-family: 'Nunito', sans-serif;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
  background-color: #696969;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  height: 40px;
  line-height: 3;
  background: #ffffff;
  overflow: hidden;
  border-radius: .25em;
  margin-left: 1%;
}
select {
  flex: 1;
  padding: 0 .5em;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: -2px;
  right: 0;
  padding: 0 14px;
  background: none;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  color: grey;
}


/*Página de Procura"SearchScreen"*/
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

}

.results {
  font-size: 13px;
  margin-left: 77%;
  margin-top: 1%;
}

.row.top{
  align-items: flex-start;
  margin-top: 60px;
  border-radius: 10px;
  width: 85.4%;
  margin-left: 7.5%;
  margin-bottom: 60px;
}

.row.center{
  display: flex;
  justify-content:  center;
  width:100%;
  border-radius: 10px;
  margin-left: 0%;
  background-color: rgb(255, 255, 255);
  margin-top: 40px;
  margin-bottom: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding-bottom: 50px;
  padding-top: 0px;
}

.tono{
  display: grid;
  justify-content: center;
  
}

.filter_information{
  justify-content: center;
  align-items: center;
  display: block;
  padding-left: 0px;
  padding-bottom: 40px;
  margin-right: 45px;
  margin-top: -20px;
}

.diogo_tono{
  padding-left: 55px;
  margin-left: 50px;
  margin-top: -25px;
  width: 150px;
}

.selects{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.col_1 {
  background-color: rgb(255, 255, 255);
  width: 100%;
  border-radius: 0px;
  justify-content:  center;
  padding-left: 0%;
  margin-top: -40px;
  margin-left: 0%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 10px;
}

.col_2 {
  width: 100%;
  margin-left: 0%;
}

.min{
  min-width: 10rem; 
}

@media screen and (max-width: 1300px) {

  .selects{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap:10px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 600px) {

  .col_1{
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin-left: 0%;
  }

  .row.center{
    display: flex;
    justify-content:  center;
    width:100%;
    border-radius: 10px;
    margin-left: 0%;
  }
}

@media screen and (max-width: 420px) {
  .selects{
    display: grid;
  }
}
/*_Página de cada estágio_"InternshipScreen"____________________*/
.intern_link{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: lighter;
}

button.iscreen{
  background-color: rgb(247.5, 247.5, 247.5);
  color: #085078;
  border: 2px solid #085078;
  width: 120px;
  border-radius: 10px;
  outline: none;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 15px;
}

.intern_containers {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin-left: 7.5%;
}

.description{
  background-color: white;
  margin-top: 30px;
  margin-bottom: 25px;
  margin-left: 0%;
  width: 75%;
  height: 100%;
  border-radius: 10px;
  padding-left: 70px;
  padding-right: 70px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.description h3{
  font-weight: bold;
  font-size: 17px;
}

.description h4{
  
  font-weight: lighter;
  font-size: 15px;
}

.feactures {
  margin-top: 30px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  width: 35%;
  border-radius: 10px;
  margin-right: 0%;
  margin-left: 1%;
  padding-left: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.feactures h3{
  font-weight: bold;
  font-size: 17px;
}

.feactures h4{
  
  font-weight: lighter;
  font-size: 15px;
}

.avatar-holder-1 {
  position: absolute;
  margin-top: 30px;
  width: 150px;
  height: 150px;
  border-radius: 0%;
  box-shadow: 0 0 0 2.5px rgb(233, 233, 233);
  background: white;
  overflow: hidden;
  margin-left: 75px;
}

.col_4{
 background-color: rgb(255, 255, 255);
 margin-top: 20px;
 margin-left: 7.5%;
 padding-bottom: 45px;
 /*margin-right: 8%;*/
 width: 85%;
 height: 100%;
 border-radius: 10px;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.name{
  margin-left: 300px;
  padding-top: 30px;
  font-size: 30px;
  padding-right: 50px;
}

.location{
  margin-left: 300px;
  font-size: 17px;
  padding-top: 0px;

}

.col_4 h3 {
  margin-left: 300px;
  padding-top: 0px;
  font-size: 25px;
}

.apply_save{
  display: flex;
  margin-left: 925px;
  margin-right: 0px;
  margin-top: -50px;
  background-color: rgb(255, 255, 255);
  justify-content: center; 
  font-size: 15px;
}

@media screen and (max-width: 1000px) {
  .avatar-holder-1 {
    position: absolute;
    margin-top: 30px;
    width: 75px;
    height: 75px;
    border-radius: 0%;
    box-shadow: 0 0 0 2.5px rgb(233, 233, 233);
    background: white;
    overflow: hidden;
    margin-left: 35px;
  }

  .name{
    margin-left: 150px;
    padding-top: 30px;
    font-size: 20px;
    font-weight: bolder;
    padding-right: 120px;
  }
  
  .location{
    margin-left: 150px;
    font-size: 17px;
    margin-top: 10px;
  }
  
  .col_4 h3 {
    margin-left: 150px;
    padding-top: 0px;
    font-size: 15px;
  }

  .apply_save{
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 40px;
    justify-content: center; 
  }

  button.iscreen{
    color: #085078;
    width: 120px;
    border-radius: 10px;
    outline: none;
    margin-left: 10px;
    margin-right: 10px;
  }

  .intern_containers {
    display: grid;
    background-color: rgb(255, 255, 255);
    margin-top: 50px;
    margin-left: 7.5%;
    margin-bottom: 25px;
    width: 85%;
    height: 100%;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }

  .description{
    background-color: rgb(255, 255, 255);
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 0%;
    width: 75%;
    height: 100%;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
    box-shadow: none;
  }
  
  .feactures {
    margin-top: -5px;
    margin-left: 0px;
    margin-right: 0%;
    width: 75%;
    height: 100%;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
    box-shadow: none;
    background-color: rgb(255, 255, 255);
  }
}

@media screen and (max-width: 600px) {
  .apply_save{
    margin-top: 20px;
  }

  .description h3{
    margin-left: -30px;
    font-weight: bold;
    font-size: 15px;
  }
  
  .description h4{
    margin-left: -30px;
    margin-right: -15px;
    font-weight: lighter;
    font-size: 13px;
  }

  .feactures h3{
    margin-left: -30px;
    font-weight: bold;
    font-size: 15px;
  }
  
  .feactures h4{
    margin-left: -30px;
    font-weight: lighter;
    font-size: 13px;
  }

  .intern_containers {
    display: grid;
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
    margin-left: 7.5%;
    width: 85%;
    height: 100%;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }

  .col_4{
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    padding-bottom: 20px;
    margin-left: 7.5%;
    /*margin-right: 8%;*/
    width: 85%;
    height: 100%;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
   }

   .name{
    padding-top: 120px;
    margin-left: 0px;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;

  }

  .location{
    margin-top: 10px;
    margin-left: 0px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 11px;
    padding-top: 0px;
    font-weight: bolder;
  }

  .col_4 h3{
    margin-left: 0px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;

  }
}



/*_Cartões de internships_"Internship"______________*/

.card-link {
  text-decoration: none;
  color: black;
}

.courses-container {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -10px;
  height: 200px;
  padding-bottom: 0px;
}

.course {
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: grid;
	max-width: 100%;
  margin-top: 100px;
	overflow: hidden;
	width: 300px;
  height: 120px;
}

.course-info {
	padding: 15px;
	position: relative;
	width: 75%;
}

.course-type{
  font-size: 12px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  text-transform: none;
}

.course h6 {
	opacity: 0.8;
	margin: 0;
	letter-spacing: 1px;
	text-transform: none;
  font-size: 10px;
}

.course h4 {
	letter-spacing: 1px;
	margin: 10px 0;
  margin-right: -50px;
  font-size: 11px; 
  text-transform: none;
}

.course h4:hover{
  color: rgb(78, 78, 78);
}

.course h5 {
	opacity: 0.8;
	margin: 0;
	letter-spacing: 1px;
	text-transform: none;
}

.course h2 {
	letter-spacing: 1px;
	margin: 10px 0;
  margin-right: -50px;
  font-size: 13px; 
  text-transform: none;
}

.course h3 {
  letter-spacing: 1px;
	margin: 10px 0;
  margin-right: 50px;
  font-size: 9px;
}
.labelProfile{
  margin-left: 60px;
}

.course h2:hover{
  color: rgb(78, 78, 78);
}


.progress-container {
	position: absolute;
	top: 15px;
	right: -35px;
	text-align: right;
	width: 150px;
  font-size: 12px;
	opacity: 0.6;
	letter-spacing: 1px;
  text-transform: none;
}

.btn {
	background-color: #414141;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 16px;
	padding: 12px 25px;
	position: absolute;
	bottom: 30px;
	right: 20px;
  bottom: 17px;
	letter-spacing: 1px;
  outline: none;
}

.fa-bookmark {
  color: rgb(87, 87, 87);
  font-size: 16px;
  border-radius: 50px;
  padding: 12px 25px;
  position: absolute;
  right: -35px;
  bottom: 10px;
  outline: none;
  background-color: rgb(228, 228, 228);
  background-position: center;
  padding: 7px 8.5px 7px 9px;
  text-transform: none;
}

.fa-bookmark:hover{
  color: rgb(87, 87, 87);
  background-color: rgb(209, 209, 209);
  background-position: center;
  padding: 7px 8.5px 7px 9px;
  text-transform: none;
  transform: scale(1.05);
}

.avatar-holder {
  position: absolute;
  margin-top: -55px;
  margin-left: 80px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0 0 0 2.5px rgb(214, 214, 214);
  background: white;
  overflow: hidden;
  transition: all 0.1s linear;
}

.avatar-holder:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 620px) {

  /*_Internship Cards "Internship"______________*/

  .card-link {
    text-decoration: none;
    color: black;
  }

  .courses-container{
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .course {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: grid;
    margin: 60px;
    overflow: hidden;
    width: 230px;
    height: 100%;
    margin-top: 0px;
    height: 160px;
  }
  
  .course-info {
    padding: 15px;
    position: relative;
    width: 75%;
  }
  
  .course-type{
    font-size: 12px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .course h6 {
    opacity: 0.8;
    letter-spacing: 1px;
    text-transform: none;
    font-size: 10px;
    margin-left: 80px;
  }

  .course h4 {
    letter-spacing: 1px;
    font-size: 12px;
    margin-right: 0px;
    margin-top: 25px;
  }
  
  .course h5 {
    opacity: 0.8;
    margin: 0;
    letter-spacing: 1px;
    text-transform: none;
    margin-right: 50px;
  }
  
  .course h2 {
    letter-spacing: 1px;
    font-size: 13px;
    margin-top: 10px;
    margin-right: 0px;
  }
  
  .progress-container {
    position: absolute;
    top: 28px;
    right: -12px;
    text-align: right;
    width: 150px;
    font-size: 12px;
    opacity: 0.6;
    letter-spacing: 1px;
  }
  
  
  
  /*.btn {
    background-color: #9c9c9c;
    border: 0;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(148, 148, 148, 0.2);
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 12px 25px;
    position: absolute;
    bottom: 30px;
    right: -25px;
    bottom: 17px;
    letter-spacing: 1px;
    outline: none;
  }*/

  .fa-bookmark {
    color: rgb(87, 87, 87);
    font-size: 16px;
    border-radius: 50px;
    padding: 12px 25px;
    position: absolute;
    right: -15px;
    bottom: 10px;
    outline: none;
    background-color: rgb(228, 228, 228);
    background-position: center;
    padding: 7px 8.5px 7px 9px;
    text-transform: none;
  }
  
  .fa-bookmark:hover{
    color: rgb(87, 87, 87);
    background-color: rgb(209, 209, 209);
    background-position: center;
    padding: 7px 8.5px 7px 9px;
    text-transform: none;
    transform: scale(1.05);
  }

  .avatar-holder {
    position: absolute;
    margin-top: -50px;
    margin-left: 50px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 0 0 2.5px rgb(214, 214, 214);
    background: white;
    overflow: hidden;
    transition: all 0.1s linear;
  }

  .avatar-holder:hover {
    transform: scale(1.1);
  }

  .labelProfile{
    margin-left: 60px;
  }
}

@media screen and (max-width:400px){
  .labelProfile{
    margin-left: 35px;
  }

}



/*SIGN IN PART*/
.sign {
  padding-top: 40px;
  color: #000000;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 23px;
}

.un {
width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 11%;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}

form.form1 {
  padding-top: 40px;
}

.pass {
width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 11%;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}


.un:focus, .pass:focus {
  border: 2px solid rgba(0, 0, 0, 0.18) !important;
  
}

.signinButton{
  background-color: rgb(247.5, 247.5, 247.5);
  color: #085078;
  border: 1px solid #085078;
  width: 77%;
  margin-left: 11%;
  outline: none;
}

.linkCreateAccount{
  outline: none;
  color: #000000;
}

.linkCreateAccount:hover{
  color: grey;
}

.signinContainer{
  background-color: #ffffff;
  border-radius: 10px;
  padding-bottom: 15px;
  margin-bottom: 2%;
  margin-left: 20%;
  margin-right: 20%;
}
.institutionTitle{
  margin-left: 40%;
}

.contactContainer{
  background-color: #ffffff;
  border-radius: 10px;
  padding-bottom: 15px;
  margin-left: 20%;
  margin-right: 20%;
}

@media screen and (max-width:600px){
  .signinContainer{
    width: 100%;
    margin-left: 0;
    margin-bottom: 5%;
  }

}

@media screen and (max-width:600px){
  .contactContainer{
    margin-left: 7.5%;
    width: 85%;
  }

  .emailContact{
    font-size: 11px;
    width: 200px;
  }
}

/*_HomeScreen__*/

.home{
  width: 100%;
}

.info_section{
  display: flex;
  width: 100%;
  margin-left: 0px;
  margin-top: -160px;
  margin-bottom: 110px;
  background-color: rgb(247.5, 247.5, 247.5);
  padding-top: 75px;
  padding-bottom: 100px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.profile_section{
  display: flex;
  width: 100%;
  margin-left: 0px;
  margin-top: -110px;
  margin-bottom: 110px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: rgb(255, 255, 255);
}


.info_section_2{
  display: flex;
  width: 100%;
  margin-left: 0px;
  margin-top: -110px;
  margin-bottom: 110px;
  background: #8e9eab;
  background: -webkit-linear-gradient(to bottom, #ffffff,#9cb2c7, #004974);
  background: linear-gradient(to top, #ffffff,#9cb2c7, #004974);
  padding-top: 100px;
  padding-bottom: 100px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.footer_section{
  margin-top: -110px;
}

img.info{
  width:100%;
  height: 100%;
  border-radius: 100px;
}

/*Institution Screen*/
.name1{
  margin-left: 300px;
  padding-top: 30px;
  font-size: 30px;
  font-weight: bold;
}

.descricao{
  margin-top: 10px;
  margin-left: 300px;
  margin-right: 30px;
}

.col-3{
  margin-top: 50px;
}

.mail{
  margin-left: 300px;
  font-size: 17px;
  padding-top: 0px;
  text-decoration: none;
  font-weight: bold;
  color: #000000;
}

.fa-envelope:hover{
  transform: scale(1.1);
}

.row.intern{
  display: flex;
  justify-content:  center;
  width: 85%;
  border-radius: 10px;
  margin-left: 7.5%;
  background-color: rgb(255, 255, 255);
  margin-top: 40px;
  margin-bottom: 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding-bottom: 50px;
  padding-top: 0px;
}

.col_5{
  background-color: rgb(255, 255, 255);
  margin-top: 20px;
  margin-left: 7.5%;
  /*margin-right: 8%;*/
  width: 85%;
  height: 210px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
 }

 .avatar-holder-2 {
  position: absolute;
  margin-top: 30px;
  width: 150px;
  height: 150px;
  border-radius: 0%;
  box-shadow: 0 0 0 2.5px rgb(233, 233, 233);
  background: white;
  overflow: hidden;
  margin-left: 75px;
}


@media screen and (max-width: 620px) {
  .name1{
    margin-left: 170px;
    padding-top: 30px;
    font-size: 25px;
    font-weight: bolder;
  }

  .descricao{
    margin-left: 170px;
    font-size: 17px;
  }

  .mail{
    margin-left: 170px;
    font-size: 17px;
    font-weight: bolder;
  }

  .row.intern{
    padding-top: 40px;
  }

  .avatar-holder-2 {
    position: absolute;
    margin-top: 35px;
    width: 120px;
    height: 120px;
    overflow: hidden;
    margin-left: 35px;
  }
}

/*My Internship Screen*/
.fa-trash-alt {
  color: rgb(87, 87, 87);
  font-size: 16px;
  border-radius: 50px;
  padding: 12px 25px;
  position: absolute;
  right: -35px;
  bottom: 10px;
  outline: none;
  background-color: rgb(228, 228, 228);
  background-position: center;
  padding: 7px 8.5px 7px 9px;
  text-transform: none;
}

.fa-trash-alt:hover{
  color: rgb(87, 87, 87);
  background-color: rgb(209, 209, 209);
  background-position: center;
  padding: 7px 8.5px 7px 9px;
  text-transform: none;
  transform: scale(1.05);
}

.row-top {
  background-color: rgb(255, 255, 255);
  width: 85%;
  margin-left: 7.5%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 10px;
}

.container_basic{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 85%;
  margin-left: 7.5%;
  margin-top: 10px;
  margin-bottom: 40px;
  border-radius: 10px;
  margin-top: 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 10px;
}

.courses-container_1{
  margin-top: 10px;
  height: 200px;
  padding-top: 1px;
}

@media screen and (max-width: 620px){

  .fa-trash-alt {
    color: rgb(87, 87, 87);
    font-size: 16px;
    border-radius: 50px;
    padding: 12px 25px;
    position: absolute;
    right: -15px;
    bottom: 10px;
    outline: none;
    background-color: rgb(228, 228, 228);
    background-position: center;
    padding: 7px 8.5px 7px 9px;

  }

  .fa-trash-alt:hover{
    color: rgb(87, 87, 87);
    background-color: rgb(209, 209, 209);
    background-position: center;
    padding: 7px 8.5px 7px 9px;
    transform: scale(1.05);
  }

  .courses-container_1{
    margin-top: 60px;
  }
}


.box {
  width: 85%;
  margin-left: 7.5%;
  margin-top: 40px;
}







