html{
  font-size: 62.5%;
  box-sizing: border-box;
}
body{
  margin:0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: 'Nunito', sans-serif;
  background-color: rgb(231, 231, 231);
}

#root{
  height: 100%;
}


.grid-container{
  display: grid;
  grid-template-areas:
  'header'
  'main'
  'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 8rem 1fr 5rem;
  height: 100%;
}

.brand{
  text-decoration: none;
  color: #ffffff;
  font-size: 4rem;
  letter-spacing: 1.5px;
  font-weight: bold;
  padding-left: 3mm;
}

.badge{
  color: #696969;
  background-color: #ffffff;
  border-radius: 100%;
  padding: 0.2rem 0.7rem;
  font-size: 1.3rem;
  margin-left: 0.2rem;
}

li{
    display: inline-block;
    
}

li a{
    text-decoration: none;
    display:inline-block;
    color: black;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    letter-spacing: 1.5px;
    padding: 20px;
    font-weight: bolder;
}

.ola::after {
    content: '';
    display: block;
    width: 0;
    height: 1.6px;
    background: #fff;
    transition: width .3s;
    
}

.ola:hover::after {
    width:100%;
    transition: width .3s;
}


header
{
  grid-area: header;
  background-color: #3ca7e0;
  font-family: 'Nunito', sans-serif;
  padding-left: 3rem;
  padding-right: 3rem;
}

main{
  grid-area: main;
  padding: 3rem;
  
}
footer{
  grid-area: footer;
  background-color: #3ca7e0;
  color: floralwhite;
}

button{
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem ;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;
  cursor: pointer;
}
button:hover{
  transform: scale(1.01);
  box-shadow: 1px 1px 3px #afaeae;
}
button.primary{
  background-color:#f0c040;
  color: white;
  width: 100%;
  margin-right: 30%;
  
}
button.small {
  font-size: 15px;
  background-color:#f0c040;
  color: white;
  margin: 10px;
}
button.small2 {
  font-size: 15px;
  background-color:#f0c040;
  color: white;
  margin: 0px;
}
button.small1 {
  font-size: 15px;
  background-color:#f0c040;
  color: white;

}

img{
  border-radius: 0rem;
  width: 200px;
  height: 140px;
}
img.small{
  width: 100%;
  height: 100%;
}
img.medium{
  width: 100%;
  height: 100%;
}
img.large{
  width: 100%;
  height: 100%;
}


.card1{
  display: grid;
  grid-template-columns: 270px;
  grid-template-rows: 80px 80px 80px;
  grid-template-areas: 
  'image' 
  'text'
  'stats';

  font-family: reboto;
  border-radius: 18px;
  background: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0.1px 0.1px 15px #dfdfdf;

  margin: 30px ;
}
.card{
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: 140px 70px 70px;
  grid-template-areas: 
  'image' 
  'text'
  'stats';

  font-family: reboto;
  border-radius: 18px;
  background: white;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  box-shadow: 0.1px 0.1px 15px #dfdfdf;
  transition: 0.1s ease;
  cursor: pointer;

  margin: 1rem ;
}
.card-text{
  grid-area: text;
  margin: 19px;
}
.card-text .date{
  color:  grey;
  font-size: 15px;
}
/*.card-text p{
  color: grey;
  font-size: 15px;
  font-weight: 300;
}*/
.card-text h2{
  margin-top: 0px;
  font-size: 14px;
}
.card-stats{
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background:  #0075B5;
}
.card-stats .stat{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: white;
}
.card-stats .link{
  color: #ffff;
  text-decoration: none;
  padding: 5px;
  font-size: 14px;
}
.card-stats .link::after{
  content: '';
  display: block;
  width: 0;
  height: 1.6px;
  background: #fff;
  transition: width .3s; 
}
.card-stats .link:hover:after{
  width:100%;
  transition: width .3s; 
}
.card-stats .type{
  font-size: 9px;
  font-weight: 300;
  color: rgb(255, 255, 255);
}
.card-stats .value{
  font-size: 14px;
  font-weight: 500;
  color: white;
}
.card:hover{
  transform: scale(1.01);
  box-shadow: 5px 5px 15px #afaeae;
}

/*Alert*/
.loading{
  display: block ! important;
}
.success{
  color: #20a020;
}
.danger{
  color: #a02020;
}
.alert{
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info{
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger{
  color: #a02020;
  background-color: #ffe0e0e0;
}
.alert-success{
  color: #20a020;
  background-color: #d1ffcce0;
}


/* Form */
.form{
  max-width: 60rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label{
  margin: 1rem 0;
  display: block; 
}

/* Search Internships Search Screen*/
.search button {
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-right: none;
  margin: 50px;
  width: 80px;
  height: 42px;
  background-color: grey;
  outline: none;
}
.search input {
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: none;
  margin-left: 50px;
  width: 80px;
  height: 36px;
}
/*Search Internships/Users List Institution/Admin*/
.search1 button {
  border-radius: 0 0.5rem 0.5rem 0;
  border-right: none;
  margin: 0px;
  width: 80px;
  height: 42px;
  background-color: #696969;
  outline: none;
}
.search1 input {
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: none;
  margin-left: 50px;
  width: 150px;
  height: 42px;
  outline: none;
}

.row123{
  margin-left: 1170px;
  margin-bottom: 25px; 
}

/*Search Internships Search Screen*/
.search2 button {
  border-radius: 0 0.5rem 0.5rem 0;
  border-right: none;
  width: 40px;
  height: 40px;
  background-color: #696969;
  outline: none;
  padding: 0px 0px 2.5px 0px;
}
.search2 input {
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: none;
  width: 100px;
  height: 40px;
  outline: none;
}

.row1234{
  margin-bottom: 25px; 
  margin-top: 25px; 
}

/*_Numeros em baixo das páginas"Pagination__*/

.pagination a {
  height: 20px;
  width: 20px;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  margin: 0.5rem;
  border-radius: 2rem;
  background-color: #cccccc;
  color: rgb(0, 0, 0);
  font-size: 1.6rem;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pagination a:hover{
  background-color: rgb(163, 163, 163);
  transform: scale(1.05);
}

.pagination a.active{
  font-weight: bold;
}

.row.center.pagination{
  background-color: rgb(255, 255, 255);
  margin-top: 100px; 
}

/*******************************************TABLE************************/
.limiter {
  width: 100%;
  margin: 0 auto;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
  align-items: center;
  justify-content: center;
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #696969;
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0px;
}
table td, table th {
  text-align: left;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}


.table100-head th{
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  color: #ffffff;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

tbody tr {
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:hover {
  color: #555555;
  background-color: #f5f5f5;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  table {
    display: block;
  }
  table > *, table tr, table td, table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 37px 0;
  }
  table tbody tr td {
    padding-left: 20% !important;
    margin-bottom: 24px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
    left: 30px;
  }
}

/********************************Search Screen Select Filter**************************************/
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-color: black;
  background: #ffffff;
  background-image: none;
  font-family: 'Nunito', sans-serif;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
  background-color: #696969;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 160px;
  height: 40px;
  line-height: 3;
  background: #ffffff;
  overflow: hidden;
  border-radius: .25em;
}
select {
  flex: 1;
  padding: 0 .5em;
  color: black;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: -2px;
  right: 0;
  padding: 0 14px;
  background: none;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  color: grey;
}


/*Página de Procura"SearchScreen"*/
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.results {
  font-size: 13px;
  margin-left: 80%;
  margin-top: 1%;
}

.row.top{
  align-items: flex-start;
  background-color: rgb(255, 255, 255);
  margin-top: 20px;
  border-radius: 10px;
}

.row.center{
  display: flex;
  justify-content:  center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;

}

.col_1 {
  flex: 1 1 25rem;
}

.col_2 {
  flex: 32 1 75rem;
}
.min{
  min-width: 10rem; 
}

/*_Página de cada estágio_"InternshipScreen"____________________*/
.intern_link{
  text-decoration: none;
  color: black;
}

button.iscreen{
  background-color: rgb(2,2,2);
  color: white;
  width: 100px;
  border-radius: 50px;
  outline: none;
}

.intern_containers {
  display: flex;
}

.description{
  background-color: rgb(255, 255, 255);
  margin-top: 30px;
  margin-left: 8%;
  width: 55%;
  height: 100%;
  border-radius: 10px;
  padding-left: 70px;
  padding-right: 70px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.feactures {
  display: flex;
  margin-top: 30px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  width: 35%;
  border-radius: 10px;
  margin-right: 8%;
  margin-left: 1%;
  padding-left: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.avatar-holder-1 {
  position: absolute;
  margin-top: 30px;
  width: 150px;
  height: 150px;
  border-radius: 0%;
  box-shadow: 0 0 0 2.5px rgb(233, 233, 233);
  background: white;
  overflow: hidden;
  margin-left: 75px;
}

.col_4{
 background-color: rgb(255, 255, 255);
 margin-top: 50px;
 margin-left: 8%;
 margin-right: 8%;
 max-width: 100%;
 height: 210px;
 border-radius: 10px;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.name{
  margin-left: 300px;
  padding-top: 30px;
  font-size: 30px;
}

.location{
  margin-left: 300px;
  font-size: 17px;
  padding-top: 0px;
}

.col_4 h3 {
  margin-left: 300px;
  padding-top: 0px;
  font-size: 25px;
}

.apply_save{
  display: flex;
  margin-left: 75%;
  margin-right: 100px;
  margin-top: -50px;
  background-color: rgb(255, 255, 255);
  justify-content: space-between; 
}

/*_Cartões de internships_"Internship"______________*/

.card-link {
  text-decoration: none;
  color: black;
}

.courses-container {
  margin-left: 10px;
  margin-top: 0px;
  
}

.course {
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: grid;
	max-width: 100%;
  margin-top: 100px;
	overflow: hidden;
	width: 300px;
  border-end-end-radius: 200%;
}

.course-info {
	padding: 15px;
	position: relative;
	width: 75%;
}

.course-type{
  font-size: 12px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  text-transform: none;
}

.course h6 {
	opacity: 0.8;
	margin: 0;
	letter-spacing: 1px;
	text-transform: none;
  font-size: 10px;
}

.course h4 {
	letter-spacing: 1px;
	margin: 10px 0;
  margin-right: -50px;
  font-size: 13px; 
  text-transform: none;
}

.course h4:hover{
  color: rgb(78, 78, 78);
}

.course h5 {
	opacity: 0.8;
	margin: 0;
	letter-spacing: 1px;
	text-transform: none;
}

.course h2 {
	letter-spacing: 1px;
	margin: 10px 0;
  margin-right: 97px;
  font-size: 13px;
}

.course h2:hover{
  color: rgb(78, 78, 78);
}


.progress-container {
	position: absolute;
	top: 15px;
	right: -35px;
	text-align: right;
	width: 150px;
  font-size: 12px;
	opacity: 0.6;
	letter-spacing: 1px;
  text-transform: none;
}

.btn {
	background-color: #414141;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 16px;
	padding: 12px 25px;
	position: absolute;
	bottom: 30px;
	right: 20px;
  bottom: 17px;
	letter-spacing: 1px;
  outline: none;
}

.fa-bookmark {
  color: rgb(87, 87, 87);
  font-size: 16px;
  border-radius: 50px;
  padding: 12px 25px;
  position: absolute;
  right: -35px;
  bottom: 10px;
  outline: none;
  background-color: rgb(228, 228, 228);
  background-position: center;
  padding: 7px 8.5px 7px 9px;
  text-transform: none;
}

.fa-bookmark:hover{
  color: rgb(87, 87, 87);
  background-color: rgb(209, 209, 209);
  background-position: center;
  padding: 7px 8.5px 7px 9px;
  text-transform: none;
  transform: scale(1.05);
}

.avatar-holder {
  position: absolute;
  margin-top: -55px;
  margin-left: 80px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0 0 0 2.5px rgb(214, 214, 214);
  background: white;
  overflow: hidden;
  transition: all 0.1s linear;
}

.avatar-holder:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 620px) {

  /*_Internship Cards "Internship"______________*/

  .card-link {
    text-decoration: none;
    color: black;
  }

  .course {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: grid;
    margin: 60px;
    overflow: hidden;
    width: 230px;
    height: 150px;
    border-end-end-radius: 200%;
    margin-top: 30px;
  }
  
  .course-info {
    padding: 15px;
    position: relative;
    width: 75%;
  }
  
  .course-type{
    font-size: 12px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .course h6 {
    opacity: 0.8;
    letter-spacing: 1px;
    text-transform: none;
    font-size: 10px;
    margin-left: 80px;
  }

  .course h4 {
    letter-spacing: 1px;
    font-size: 13px;
    margin-right: 0px;
    margin-top: 25px;
  }
  
  .course h5 {
    opacity: 0.8;
    margin: 0;
    letter-spacing: 1px;
    text-transform: none;
    margin-right: 50px;
  }
  
  .course h2 {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 20px;
    margin-right: 0px;
  }
  
  
  .progress-container {
    position: absolute;
    top: 28px;
    right: -12px;
    text-align: right;
    width: 150px;
    font-size: 12px;
    opacity: 0.6;
    letter-spacing: 1px;
  }
  
  
  
  /*.btn {
    background-color: #9c9c9c;
    border: 0;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(148, 148, 148, 0.2);
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 12px 25px;
    position: absolute;
    bottom: 30px;
    right: -25px;
    bottom: 17px;
    letter-spacing: 1px;
    outline: none;
  }*/
  
  .fa-bookmark {
    color: rgb(87, 87, 87);
    font-size: 16px;
    border-radius: 50px;
    padding: 12px 25px;
    position: absolute;
    right: -15px;
    bottom: 10px;
    outline: none;
    background-color: rgb(228, 228, 228);
    background-position: center;
    padding: 7px 8.5px 7px 9px;
    
  }
  
  .fa-bookmark:hover{
    color: rgb(87, 87, 87);
    background-color: rgb(209, 209, 209);
    background-position: center;
    padding: 7px 8.5px 7px 9px;
    transform: scale(1.05);
  }

  .avatar-holder {
    position: absolute;
    margin-top: -50px;
    margin-left: 50px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 0 0 2.5px rgb(214, 214, 214);
    background: white;
    overflow: hidden;
    transition: all 0.1s linear;
  }

  .avatar-holder:hover {
    transform: scale(1.1);
  }
}






