.navbar {
    background-color: rgb(54,69,79);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
  }
  
.navbar-logo {
    color: rgb(255, 255, 255);
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 35px;
    font-family: 'Nunito';
    font-weight: lighter;
}
  
  
.nav-menu {
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}
  
.nav-item {
    display: flex;
    align-items: center;
    height: 80px;
}

.nav-links {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px;
    opacity: 1;
    font-family: 'Nunito';
    font-weight: lighter;
    outline: none;
}

.nav-links::after {
    content: '';
    display: block;
    width: 0;
    height: 1.6px;
    background: rgb(255, 255, 255);
    transition: width .3s; 
}

.nav-links:hover::after {
    width:100%;
    transition: width .5s;
}
  
.fa-bars {
    color: #fff;
}

.nav-links-mobile {
    display: block;
    text-align: center;
    padding: 7px;
    border-radius: 0.5rem;
    width: 100%;
    background: #949494;
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.nav-links-mobile:hover {
    padding: 7px;
    transition: all 0.3s ease-out;
    background:white;
    color: black;
    transition: 250ms;
    font-weight: bold;
    font-size: 17px;
} 
  
.menu-icon {
    display: none;
}
  
/*@media screen and (max-width: 1200px) {
    body {
        overflow-x: hidden;
        display: flex;
    }
    
    .NavbarItems {
        position: relative;
    }

    .nav-menu.active {
        background: rgb(126, 39, 39);
        right: 0%;
        opacity: 1;
        transition: all .6s ease;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 200px;
        height: 450px;
        position: absolute;
        top: 60px;
        right: -100%;
        opacity: 1;
        transition: all .7s ease;
        border-bottom-left-radius: 50px;
        margin-right: 0px;
        margin-top: 0px;
        overflow-x: hidden;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        padding: 7px;
        margin-left: -26px;
        border-radius: 50px;
        width: 100%;
        background: black;
        text-decoration: none;
        color: black;
        font-size: 17px;
    }
    
    .nav-links-mobile:hover {
        padding: 7px;
        transition: all 0.3s ease-out;
        background: black;
        color: black;
        transition: 250ms;
        font-weight: bold;
        font-size: 17px;
    } 

    .nav-links {
        text-align: center;
        margin-left: -26px;
        width: 100%;
        display: table;
        color: black;
    }

    .nav-links::after {
        content: '';
        display: block;
        width: 0;
        height: 1.6px;
        background: black;
        transition: width .3s; 
    }
    
    .nav-links:hover::after {
        width:100%;
        transition: width .5s;
    }


    .navbar-logo {
        position: absolute;
        left: 15px;
        text-align: justify;
    }

    .menu-icon{
        display: block;
        position: absolute;
        top: 0px;
        right: 25px;
        transform: translate(0rem, 120%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: white;
        font-size: 2rem;
    }

    .nav-item {
        display: flex;
        align-items: center;
        height: 80px;
        color: white;
    }
}*/

@media screen and (max-width: 1300px) {
    .navbar {
        width: 100%;
    }
    
    .NavbarItems {
      position: relative;
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 300px;
      height: relative;
      position: absolute;
      top: 48px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
      margin-left: -45px;
      border-bottom-right-radius: 50px;
      align-items: center;
      justify-content: center;
    }
  
    .nav-menu.active {
      background: rgb(54,69,79);
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
  
    .nav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
      
    }

    .nav-links::after {
        content: '';
        display: block;
        width: -1px;
        height: 1.6px;
        background: #fff;
        transition: width .3s; 
    }
    
    .nav-links:hover::after {
        width:100%;
        transition: width .2s;
    }
  
  
    .navbar-logo {
        position: absolute;
        left: 15px;
        text-align: justify;
    }
  
    .menu-icon{
        display: block;
        position: absolute;
        top: -11px;
        left: 130px;
        transform: translate(0rem, 120%);
        font-size: 1.8rem;
        cursor: pointer;
    }
  
    .fa-times {
      color: #fff;
      font-size: 2rem;
    }
  
    .nav-links-mobile {
        display: block;
        text-align: center;
        justify-content: center;
        padding: 7px;
        margin: 50px;
        border-radius: 50px;
        width: 100%;
        background: rgb(255, 255, 255);
        text-decoration: none;
        color: black;
        font-size: 17px;
    }
    
    .nav-links-mobile:hover {
        padding: 7px;
        transition: all 0.3s ease-out;
        background: rgb(156, 156, 156);
        color: black;
        transition: 250ms;
        font-weight: bold;
        font-size: 17px;
    } 
  }

  @media screen and (max-width: 550px) {
    .navbar {
        width: 100%;
    }
    
    .NavbarItems {
      position: relative;
    }

    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 102%;
      height: relative;
      position: absolute;
      top: 48px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
      margin-left: -45px;
      border-bottom-right-radius: 0px;
      align-items: center;
      justify-content: center;
    }
  
    .nav-menu.active {
      background: rgb(54,69,79);
      left: 0;
      opacity: 1;
      transition: all 0.01s ease;
      z-index: 1;
    }
  
    .nav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }

    .nav-links::after {
        content: '';
        display: block;
        width: 0;
        height: 1.6px;
        background: #fff;
        transition: width .3s; 
    }
    
    .nav-links:hover::after {
        width:100%;
        transition: width .2s;
    }
  
  
    .navbar-logo {
        position: absolute;
        text-align: justify;
        margin-left: 37%;
    }
  
    .menu-icon{
        display: block;
        position: absolute;
        top: -11px;
        left: 55px;
        transform: translate(0rem, 120%);
        font-size: 1.8rem;
        cursor: pointer;
    }
  
    .fa-times {
      color: rgb(255, 255, 255);
      font-size: 2rem;
    }
  
    .nav-links-mobile {
        display: block;
        text-align: center;
        justify-content: center;
        padding: 7px;
        margin: 50px;
        border-radius: 50px;
        width: 100%;
        background: rgb(255, 255, 255);
        text-decoration: none;
        color: black;
        font-size: 17px;
    }
    
    /*.nav-links-mobile:hover {
        padding: 7px;
        transition: all 0.3s ease-out;
        background: rgb(156, 156, 156);
        color: black;
        transition: 250ms;
        font-weight: bold;
        font-size: 17px;
    }*/
  }