.hero-container {
    height: 115vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    background: url("internFundo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
    margin-top: -20px   ;
}

.hero-container > h1 {
    color: #2C3E50;
    font-size: 50px;
    margin-top: -300px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
}

.hero-container > p {
    margin-top: 8px;
    color: white;
    font-size: 32px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: lighter;
}

.hero-container > img {
    margin-top: -10px;
    object-fit: cover;
    width: 100%;
    height: 120%;
    position: absolute;
    z-index: -1;
}

.hero-btns {
    margin-top: 32px;
}

@media screen and (max-width: 800px) {
    .hero-container > h1 {
        color: #2C3E50;
        font-size: 40px;
        margin-top: -300px;
    }

    .hero-container > p {
        margin-top: 8px;
        color: white;
        font-size: 22px;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: lighter;
    }

    .hero-container > img {
        margin-top: -10px;
        object-fit: cover;
        width: 100%;
        height: 120%;
        position: absolute;
        z-index: -1;
    }
}

@media screen and (max-width: 750px) {

    .hero-container > h1 {
        color: #2C3E50;
        font-size: 28px;
        margin-top: -300px;
    }

    .hero-container > p {
        margin-top: 8px;
        color: white;
        font-size: 18px;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: lighter;
    }

    .hero-container > img {
        margin-top: -10px;
        object-fit: cover;
        width: 100%;
        height: 120%;
        position: absolute;
        z-index: -1;
    }
}