.info_container_1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: 50px;
  margin-left: 50px;
  background-color: yellowgreen;
}

.info_img_1{
  width: 50%;
  margin-left: 0px;
  margin-right: 0px;
  padding: 1%;

}

.info_text_1{
  width: 50%;
  margin-top: 0px;
  padding: 1%;
}

.info_text_1 h2{
  font-weight: lighter;

}

.info_text_1 h3{
  font-weight: lighter;
  font-size: 17px;
}

@media screen and (max-width: 1000px) {
  .info_container_1 {
    display: grid;
  }

  .info_img_1{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding: 1%;

  }

  .info_text_1{
    width: 100%;
    margin-top: 0px;
    padding: 1%;
  }

  .info_text_1 h2{
    font-weight: lighter;
    font-size: 17px;

  }

  .info_text_1 h3{
    font-weight: lighter;
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  .info_container_1 {
    display: grid;
  }

  .info_img_1{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding: 1%;

  }

  .info_text_1{
    width: 100%;
    margin-top: 0px;
    padding: 1%;
  }

  .info_text_1 h2{
    font-weight: lighter;
    font-size: 15px;

  }

  .info_text_1 h3{
    font-weight: lighter;
    font-size: 12px;
  }
}